<section id="about" class="about-me">

    <div class="about-title">
        <h1>Long Story Short</h1>
    </div>

    <div class="about-me-content">

        <div class="about-me-left">
            <p>
                <span class="about-span-1">Hello!</span> I am Berkay. In 2018, I took a break from
                my Japanese Language and Literature education
                at <span class="about-span-2">Erciyes University </span>and graduated from the
                Web Design and Coding department at <span class="about-span-2">Anadolu
                    University</span>. Afterwards, I developed myself in the
                software field by taking many online courses.
                Under the Miltek project of the Ministry of Labor
                and Social Security, I received a 100 hour
                <span class="about-span-2">Frontend Developer </span>training from our instructor
                Engin Demiroğ and preapared myself to be
                suitable for the positions in the industry.
            </p>
        </div>

        <div class="about-me-right">
            <img src="../../../assets/all-logos.png" alt="">
        </div>
    </div>

    <div class="divider"
        style="width: 100%; height: 80px; margin-bottom: -150px; background-color: var(--dark); rotate: 1deg; overflow: hidden;">
    </div>
</section>