<div class="" id="particles-js"></div>

<section class="home">

    <div class="home-top">

        <div class="home-content">

            <span class="home1">Hello! </span>
            <span class="home2"> I am</span><br>
            <span class="home3">Berkay Anduv</span><br>
            <span class="home4">Frontend Developer <i class="fa-solid fa-code"></i></span><br>

        </div>
        <div class="home-img">
            <div class="img-animation">
                <img class="photo" src="../../../assets/photo.png" />

            </div>
        </div>
    </div>



    <div class="home-social">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>

    </div>

</section>