<section class="home" id="home">
    <div class="home-left">
        <h1 class="title">My Portfolio Site!</h1>
        <h1 class="home-title">
            <span class="home1">Hello!</span>
            <span class="home2"> I am</span><br>
            <span class="home3">Berkay Anduv</span><br>
            <span class="home4">Frontend Developer</span><br>
        </h1>
        <div class="home-social">
            <a href=""><img src="../../../assets/logo/github.png"></a>
            <a href=""><img src="../../../assets/logo/linkedin.png"></a>
            <a href=""><img src="../../../assets/logo/instagram.png"></a>
            <a href=""><img src="../../../assets/logo/facebook.png"></a>

        </div>
    </div>
    <div class="home-right">
        <img src="../assets/home-right.png" alt="">
    </div>
</section>