/* home  */
#particles-js {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: auto !important;
  padding: 10px;
}
.home {
  background-color: #1e1e24;
  display: grid;
  grid-template-columns: 6fr 6fr;
  margin: auto;
  max-width: 100%;
  height: 100vh;

  box-shadow: 0px 4px 3px 1px rgba(96, 120, 143, 0.5);
}

.home-left {
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  font-family: "Architects Daughter";
}

.home1,
.home2,
.home3,
.home4 {
  font-size: 60px;
  color: #d3d0cb;
}

.home1 {
  background-color: #dd6031;
  border-radius: 10px;
  padding: 0 5px 0 5px;
  color: var(--blue-color);
}

.home4 {
  font-weight: bolder;
  color: var(--lightblue-color);
}

.title {
  margin-bottom: 80px;
  font-size: 60px;
  background-color: var(--blue-color);
  color: white;
  text-align: center;
  border-radius: 10px;
  font-weight: bolder;
}

.home-right {
  margin: auto;
}
.home-right img {
  width: 630px;
}

.home-social {
  text-align: center !important;
  margin-top: 25px;
}

.home-social img {
  width: 60px;
  margin-right: 15px !important;
}

/* home end  */
