<!-- nav start  -->

<nav class="navbar navbar-dark  fixed-top" [hidden]="false">
  <div class="container-fluid">
    <a class="navbar-brand icon" href="#"><img src="../assets/BA.png" alt=""></a>
    <div class="shown-links-div">
      <a class="navbar-brand mid" href="#">Home</a>
      <a class="navbar-brand mid" (click)="slideToSection('about')">About</a>
      <a class="navbar-brand mid" href="#">Education</a>
      <a class="navbar-brand mid" (click)="slideToSection('projects')">Projects</a>
      <a class="navbar-brand mid" (click)="slideToSection('certificates')">Certificates</a>
      <a class="navbar-brand mid" href="#">Contact</a>

    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><img src="../assets/BA.png" alt=""></h5>
        <button type="button" class="btn-close btn-close-white mx-3" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item nav-item-first">
            <a class="nav-link active" aria-current="page" href="#">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Certificates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contact</a>
          </li>
        </ul>
        <div class="navbar-social">
          <a href=""><img src="../../../assets/logo/github.png"></a>
          <a href=""><img src="../../../assets/logo/linkedin.png"></a>
          <a href=""><img src="../../../assets/logo/instagram.png"></a>
          <a href=""><img src="../../../assets/logo/facebook.png"></a>
        </div>

      </div>
    </div>
  </div>
</nav>

<!-- nav end  -->

<!-- home start  -->
<app-home></app-home>
<!-- home end  -->

<!-- about me  -->
<app-about-me></app-about-me>
<!-- about me end  -->

<!-- sertificates  -->

<section id="certificates" class="certificates">
  <div class="section-header s">
    <h1><img src="../assets/colors1.png">Certificates<img src="../assets/colors2.png"></h1>
  </div>
  <div class="certificates-content">
    <div class="certificates-container" *ngFor="let x of certificates">
      <div (click)="openModal(x)" class="certificate">
        <img [src]="x.img" alt="">
        <h3>{{x.name}}</h3>
      </div>
    </div>
  </div>
</section>

<!-- sertificates end  -->

<!-- projects  -->

<section id="projects" class="projects-section">
  <div class="section-header c">
    <h1><img src="../assets/colors1.png">Projects<img src="../assets/colors2.png"></h1>
  </div>
  <div class="projects-content">
    <div class="project-right">
      <div class="project-right-img">
        <img src="../assets/projects/react-pokedex.jfif" alt="">

      </div>
      <div class="projects-about">
        <h1>React Pokedex!</h1>
        <p>Pokedex app that I created with React.</p>
        <button>Website</button>
        <button><a href="https://github.com/sygrok/pokedex-with-react" target="_blank">Github</a></button>
      </div>
    </div>
  </div>

</section>

<!-- projects end  -->