<!-- nav start  -->

<nav class="navbar navbar-dark  fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand icon" href="#"><img src="../assets/BA.png" alt=""></a>
    <div class="shown-links-div">
      <a class="navbar-brand mid" href="#">Home</a>
      <a class="navbar-brand mid" href="#">About</a>
      <a class="navbar-brand mid" href="#">Education</a>
      <a class="navbar-brand mid" href="#">Projects</a>
      <a class="navbar-brand mid" href="#">Sertificates</a>
      <a class="navbar-brand mid" href="#">Contact</a>

    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><img src="../assets/BA.png" alt=""></h5>
        <button type="button" class="btn-close btn-close-white mx-3" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item nav-item-first">
            <a class="nav-link active" aria-current="page" href="#">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sertificates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contact</a>
          </li>
        </ul>
        <div class="navbar-social">
          <a href=""><img src="../../../assets/logo/github.png"></a>
          <a href=""><img src="../../../assets/logo/linkedin.png"></a>
          <a href=""><img src="../../../assets/logo/instagram.png"></a>
        </div>

      </div>
    </div>
  </div>
</nav>

<!-- nav end  -->

<!-- home start  -->

<section class="home" id="home">
  <div class="home-left">
    <h1 class="title">My Portfolio Site!</h1>
    <h1 class="home-title">
      <span class="home1">Hello!</span>
      <span class="home2">I am</span><br>
      <span class="home3">Berkay Anduv</span><br>
      <span class="home4">Frontend Developer</span><br>
    </h1>
    <div class="home-social">
      <a href=""><img src="../../../assets/logo/github.png"></a>
      <a href=""><img src="../../../assets/logo/linkedin.png"></a>
      <a href=""><img src="../../../assets/logo/instagram.png"></a>
    </div>
  </div>
  <div class="home-right">
    <img src="../assets/home-right.png" alt="">
  </div>
</section>
<!-- home end  -->