@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Rubik+Maps&display=swap");

:root {
  --dark: #1e1e24;
  --orange: #dd6031;
  --red: #762323;
  --primary: #0d3b66;
  --white: #d3d0cb;

  /*//*/
  --blue-color: #2b4b82;
  --pink-color: #f7b4a7;
  --lightblue-color: #94ddde;
  --green-color: #18727d;
  --font1: "Tektur";
}

canvas {
  display: block;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--dark) !important;
}

/* nav  */
.navbar-social img {
  width: 35px;
}

.navbar-social {
  margin: auto;
  text-align: center;
}

.navbar-social a {
  margin: 10px !important;
}

.icon img {
  width: 155px;
  margin: -20px -20px;
}

.shown-links-div {
  margin-left: -60px;
}

.navbar {
  box-shadow: 0px 4px 3px 1px rgba(96, 120, 143, 0.5);
  font-family: "Tektur", sans-serif;
}

.offcanvas-body {
  background-color: var(--blue-color);
}

.offcanvas-title img {
  width: 200px;
}

.nav-link {
  text-align: center;
  font-size: 25px !important;
  margin-bottom: 40px;
}

.nav-item-first {
  margin-top: 25px;
}

.nav-link {
  transition: all 1s ease-in-out;
}

.nav-link:hover {
  border-bottom: 1px solid white;
}

.mid {
  transition: all 1s ease-in-out;
}

.mid:hover {
  border-bottom: 1px solid white;
}

/* certificates end  */

/* projects  */
.projects-section {
  margin: auto;
  width: 1400px;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 1px 4px 0px 4px rgba(96, 120, 143, 0.5);
  background-color: var(--blue-color);
}

.project-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}
.project-right-img {
  display: flex;
  align-items: center;
  justify-content: end;
}

.projects-content img {
  width: 350px;
}

.projects-about {
  color: white;
  width: 350px;
}

.projects-about h1 {
  border-bottom: 1px solid white;
}
