@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Rubik+Maps&display=swap");

:root {
  --blue-color: #2b4b82;
  --pink-color: #f7b4a7;
  --lightblue-color: #94ddde;
  --green-color: #18727d;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

/* nav  */
.navbar-social img {
  width: 35px;
}

.navbar-social {
  margin: auto;
  text-align: center;
}

.navbar-social a {
  margin: 10px !important;
}

.icon img {
  width: 155px;
  margin: -20px -20px;
}

.shown-links-div {
  margin-left: -60px;
}

.navbar {
  background-color: var(--blue-color) !important;
  box-shadow: 0px 4px 3px 1px rgba(96, 120, 143, 0.5);
  font-family: "Tektur", sans-serif;
}

.offcanvas-body {
  background-color: var(--blue-color);
}

.offcanvas-title img {
  width: 200px;
}

.nav-link {
  text-align: center;
  font-size: 25px !important;
  margin-bottom: 40px;
}

.nav-item-first {
  margin-top: 25px;
}

.nav-link {
  transition: all 1s ease-in-out;
}

.nav-link:hover {
  border-bottom: 1px solid white;
}

.mid {
  transition: all 1s ease-in-out;
}

.mid:hover {
  border-bottom: 1px solid white;
}

/* about me  */

.about-me {
  margin: auto;
  max-width: 1200px;

  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 1px 4px 0px 4px rgba(96, 120, 143, 0.5);
}

.section-header {
  background-color: white;
  display: flex;

  border: 1px solid black;
}

.section-header img {
  width: 200px;
}

.section-header h1 {
  margin: auto;
  font-family: "Tektur";
}

.about-me-content {
  background-color: var(--blue-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.about-me-left {
  background-color: white;
  font-family: "Tektur";
  text-align: center;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 10px;
  padding: 70px;
}

.about-me-left .photo {
  width: 250px;
  border-radius: 180px;
  border: 6px solid var(--blue-color);
}

.about-me-left .home-social img {
  width: 30px;
}

.about-me-left h2 {
  font-weight: bolder;
}

.about-me-left h3 {
  background-color: #18727d;
  border-radius: 40px;
  font-style: italic;

  color: white;
  margin: auto;
  width: 300px;
}

.about-me-right {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    144deg,
    rgba(255, 255, 255, 1) 5%,
    rgba(43, 75, 130, 1) 5%
  );
  margin: auto;
  color: white;
  font-size: 25px;
  padding: 100px;
  font-family: "Tektur";
  border-bottom-right-radius: 10px;
}

.about-me-right span {
  background-color: var(--pink-color);
  padding: 5px;
  margin: auto;
  width: 80px;
  margin-left: 0;
  border-radius: 15px;
}

/* about me end  */

/* certificates  */

.certificates {
  background: rgb(43, 75, 130);
  background: linear-gradient(
    144deg,
    rgba(43, 75, 130, 1) 48%,
    rgba(24, 114, 125, 1) 72%
  );
  margin: auto;
  width: auto;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 1px 4px 0px 4px rgba(96, 120, 143, 0.5);
}
.certificates-content {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 20px;
}

.certificate img {
  width: 180px;
  height: 155px;
  border-radius: 10px;
  margin-top: 10px;
}

.certificate h3 {
  font-size: 20px !important;
  color: black;
  margin-bottom: 0px;
  margin-top: 10px;
}

.certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: "Tektur";
  height: 300px;
  width: 280px;
  padding: 10px;
  border-radius: 15px;
}

.certificates-container {
  margin: auto;
  width: 250px;
  height: 300px;
  margin-top: 20px;
}

.c {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.s {
  border: none !important;
}

/* certificates end  */

/* projects  */
.projects-section {
  margin: auto;
  width: 1400px;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 1px 4px 0px 4px rgba(96, 120, 143, 0.5);
  background-color: var(--blue-color);
}

.project-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}
.project-right-img {
  display: flex;
  align-items: center;
  justify-content: end;
}

.projects-content img {
  width: 350px;
}

.projects-about {
  color: white;
  width: 350px;
}

.projects-about h1 {
  border-bottom: 1px solid white;
}
