html {
  scroll-behavior: smooth;
}

.shown-links-div {
  display: flex;
  gap: 50px;
  justify-content: center !important;
  align-items: center;
}

.icon {
  background-color: white;
  border-radius: 180px !important;
}

.icon img {
  width: 40px;
  height: 40px;
}

.nav-item a {
  font-size: 25px;
  margin-bottom: 40px;
  border-bottom: 1px solid white;
}
